@mixin btn-style ($background, $background-hover) {
  background-color: $background;

  &:hover {
    background-color: $background-hover;
  }
}

@mixin btn-styled($modifier, $background, $background-hover) {
  &--#{$modifier} {
    background-color: $background;

    &:hover {
      background-color: $background-hover;
    }
  }
}